<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <title>Autenticação</title>
</head>
<body>
  <div class="box-formulario">        
        
    <div class="formulario">
        
        <div class="box-title">
          <h2 class="title">✧ Login ✧
            <p class="subtitle">Entre na sua conta</p>
          </h2>
        </div>
        <form action="#" method="post">
                 
            <span>
                <input type="text" class="input-card" id="nome" name="nome" placeholder="Usuário" autocomplete="off" required=""/>
                <label for="usuario"> <i class="icon icon-user-outline"></i> </label>
            </span>
            <span>
                <input type="password" class="input-card" id="assunto" name="assunto" placeholder="Senha" autocomplete="off" required=""/>
                <label for="senha"> <i class="icon icon-info"></i> </label>
            </span>
            <div class="box-pulse">
                 <input type="submit" value="Entrar" class="botao">
            </div>
        </form>
    </div>
</div>  
</body>
</html>