<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <title>Document</title>
</head>
<body>
  <div class="formulariolistar">
    <div class="box-title">
    <h2 class="title">✧ Usuários ✧</h2>
  </div>
  <div class="usuario">
  <% banco.forEach((usuario) => { %>
        <div class="usuarioseparado">
          <div class="nomeusuario">
  <p><%= usuario.nome %></p>
         </div>
  <p><%= usuario.senha %></p>
        </div>
  <% }) %>
  <br/>
  <form class="" action="/deslogar" method="post">
    <input class="botaolistar" type="submit" value="Deslogar">
    </form>
  </div>
</div>
 
</body>
</html>